.reviews-page {
    position: relative;
    font-family: Arial, sans-serif;
    color: #1BD2B1;
    background: linear-gradient(180deg, #98F1E1 0%, #FE80C4 50%, #FCFF76 100%);
    min-height: 100vh;
    padding: 20px;
}

    .reviews-page h1 {
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 20px;
    }

.reviews-links {
    display: flex;
    gap: 25px;
}

    .reviews-links a {
        text-decoration: none;
        font-size: 20px;
        color: #1ABDA0;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 50px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .reviews-links a:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: #FFA4A4;
        }

.reviewForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 50px;
}


.formSubmitButton {
    font-family: 'Franklin Gothic Medium';
    padding: 10px 40px;
    width: 180px;
    border-radius: 30px;
    border: none;
    background-color: #FF4EAE;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: -180px;
    left: 650px;

}

.reviewTextArea {
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid #0F0F0F;
    overflow: hidden;
    resize: none;
    min-height: 50px;
    background-color: rgba(78, 78, 78, 0.2);
    font-family: 'Angst', sans-serif;
    margin-top: 20px;
    width: 750px;
}

.reviewsContent {
    margin-top: -30px; 
}
.formSubmitButton:hover {
    background-color: #06BFA8;
}

.reviewImagePreview {
    max-width: 15%;
    height: auto;
}

.reviewItem {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.reviewPhotos {
    margin-top: 10px;
}

.deleteReviewButton {
    background-color: #ff4e4e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.reviewsContentArea {
    margin-top: 20px;
}

.reviewFileInput {
    display: none;
}

.customFile {
    display: inline-block;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    margin: 0 auto 40px auto;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 7px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}