.sign-up-page {
    position: relative;
    font-family: Arial, sans-serif;
    color: #8000E6;
    background: linear-gradient(180deg, #BF6DF2 0%, #D940AF 50%, #2CB3FF 100%);
    min-height: 100vh;
    padding: 20px;
}

    .sign-up-page h1 {
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 20px;
    }

.sign-up-links {
    display: flex;
    gap: 25px;
}

    .sign-up-links a {
        text-decoration: none;
        font-size: 20px;
        color: #8000E6;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 50px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .sign-up-links a:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: #8000E6;
        }

.back-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 7px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

    .back-button:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000000;
    }

.time-button:hover {
    background-color: #5F00B2;
    transform: scale(1.05);
}

.modal {
    position: fixed;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    position: relative;
}

    .modal-content p {
        margin-bottom: 60px;
    }

    .modal-content button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 7px 110px;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;
    }

        .modal-content button:hover {
            background-color: rgba(255, 255, 255, 0.3);
            color: #000000;
        }

.signups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 40px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Angst', sans-serif;
    color: #FFFFFF;
}

    .day h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

.time-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.time-button {
    font-size: 22px;
    padding: 15px 50px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .time-button:hover {
        background-color: #C167F9;
        color: #FFFFFF;
        transform: scale(1.05);
    }
