.history-page {
    position: relative;
    font-family: Arial,sans-serif;
    color: #FF898F;
    background: linear-gradient(180deg, #FFB6B9 0%, #FAE3D9 50%, #BBDED6 100%);
    min-height: 100vh;
    padding: 20px;
}

    .history-page h1 {
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 20px;
    }

.history-links {
    display: flex;
    gap: 25px;
    margin-bottom: 30px; 
}

    .history-links a {
        text-decoration: none;
        font-size: 20px;
        color: #FF898F;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 50px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .history-links a:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: #81D7FE;
        }
.visits {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.visit {
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 1px solid #0F0F0F;
    overflow: hidden;
    resize: none;
    min-height: 50px;
    background-color: rgba(78, 78, 78, 0.2);
    font-family: 'Angst', sans-serif;
    margin-top: 30px;
    width: 400px;
}

    
    .visit p {
        margin-bottom: 8px;
        color: #333; 
        font-size: 16px; 
    }

