.favorites-page {
    position: relative;
    font-family: Arial, sans-serif;
    color: #FF898F;
    background: linear-gradient(180deg, #FFB6B9 0%, #FAE3D9 50%, #BBDED6 100%);
    min-height: 100vh;
    padding: 20px;
}

    .favorites-page h1 {
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 20px;
    }

.favorites-links {
    display: flex;
    gap: 25px;
}

    .favorites-links a {
        text-decoration: none;
        font-size: 20px;
        color: #FF898F;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 50px;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .favorites-links a:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: #81D7FE;
        }

.trend {
    margin-bottom: 50px;
    margin-top: 50px;
}

.trend-photos {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

    .trend-photos button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(78, 78, 78, 0.2);
        color: rgba(78, 78, 78, 0.0);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 80px;
        font-size: 10px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        align-items: center;
        justify-content: center;
        display: flex;
    }

        .trend-photos button:hover {
            background-color: rgba(78, 78, 78, 0.5);
        }

        .trend-photos button:focus {
            outline: none;
        }

    .trend-photos img {
        width: 400px;
        height: 400px;
    }

    .trend-photos button:first-of-type {
        left: 300px;
    }

    .trend-photos button:last-of-type {
        right: 300px;
    }

.trend-dots {
    text-align: center;
    margin: 20px 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    display: inline-block;
    border-radius: 50%;
}

    .dot.active {
        background-color: #717171;
    }

.trend-description {
    text-align: justify;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Angst', sans-serif;
    color: #3C3B3B;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
}

.remove-favorite-button {
    margin-top: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(78, 78, 78, 0.2);
    border: 1px solid #0F0F0F;
    border-radius: 20px;
    font-size: 13px;
    display: block;
    width: 200px;
    text-align: center;
    font-family: 'Angst', sans-serif;
    color: #131414;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .remove-favorite-button:hover {
        background-color: rgba(78, 78, 78, 0.3);
    }
.no-favorites-message {
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    font-family: 'Angst', sans-serif;
}
.remove-favorite-button {
    margin-top: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(78, 78, 78, 0.2);
    border: 1px solid #0F0F0F;
    border-radius: 20px;
    font-size: 13px;
    display: block;
    width: 200px;
    text-align: center;
    font-family: 'Angst', sans-serif;
    color: #131414;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .remove-favorite-button:hover {
        background-color: rgba(78, 78, 78, 0.3);
    }
.go-to-fresh-trends {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(78, 78, 78, 0.2);
    border: 1px solid #0F0F0F;
    font-size: 17px;
    width: 320px;
    padding: 10px 0;
    color: #131414;
}

    .go-to-fresh-trends:hover {
        background-color: rgba(78, 78, 78, 0.3);
        color: #D90B0B;
    }